<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @period.week_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @period.day %>
</p>

<p>
  <strong>Student:</strong>
  <%= @period.student_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @period.state %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
