<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  	<%= link_to 'Spart', root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>
	        <li class="nav-item">
	          <%= link_to 'Mon Profil', edit_user_registration_path, class:'nav-link' %>
	        </li>
	        <li class="nav-item">
	          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:'nav-link' %>
	        </li>
	      	<li class="nav-item">
	          <%= link_to 'Etudiants', students_path, class:'nav-link' %>
	        </li>
          <li class="nav-item">
            <%= link_to 'Absences', home_timetable_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Rapport', home_show_absences_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Épreuves', tests_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Résultats', home_show_results_path, class:'nav-link' %>
          </li>
	        <li class="nav-item">
	          <%= link_to 'A propos', home_about_path, class:'nav-link' %>
	        </li>
	    <% else %>
	    	<li class="nav-item">
          	  <%= link_to 'Connexion', new_user_session_path, class:'nav-link' %>
        	</li>
        	<li class="nav-item">
	          <%link_to 'Enregistrement', new_user_registration_path, class:'nav-link' %>
	        </li>
        <% end %>

      </ul>
      
    </div>
  </div>
</nav>