<table class='table table-striped table-borderless table-responsive'>
  <thead class='table-dark'>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Classe</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |s| %>
      <tr>
        <td>
          <%= s.last_name %>
        </td>
        <td>
          <%= s.first_name %>
        </td>
        <td>
          <%= s.class_name %>
        </td>
        <td>
          <%= form_tag discontinue_scores_path, local:false, class:"row g-2",  method: :put do %>
            <div class="col-auto">
              <%= text_field_tag 'score', s.scores.where(:test_id => @requested_tests.ids).first.score, class:"form-control", onblur:"this.form.submit();" %>
            </div>
            <div class="col-auto">
            </div>

            <%= hidden_field_tag 'id', s.scores.where(:test_id => @requested_tests.ids).first.id %>
            <%= s.scores.where(:test_id => @requested_tests.ids).ids %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>