<table class='table table-striped table-borderless table-responsive'>
  <thead class='table-dark'>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Classe</th>
      <% days = ['Lu', 'Ma', 'Me', 'Je', 'Ve'] %>
      <% for i in 0..4 %>
	  	<th colspan="8">
	  		<%= days[i] + " " + (@requested_week.start_date + i).strftime("%d.%m") %>
	    </th>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <th></th>
	  <th></th>
      <% days = ['Lu', 'Ma', 'Me', 'Je', 'Ve'] %>
      <% for i in 0..4 %>
	  	
	  		<% for j in 1..7 %>
  				<th class='text-center'>
            		<%= j %>
          		</th>
      		<% end %>
	    
      <% end %>
    </tr>
  </thead>

  <tbody>

    <% @periods.group(:student_id).each do |s| %>
      <tr>
        <td>
          <%= s.student.last_name %>
        </td>
        <td>
          <%= s.student.first_name %>
        </td>
        <td>
          <%= s.student.class_name %>
        </td>
        
        <% @periods.where( :student_id => s.student.id).each do |p| %>
          <td>

          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <%= check_box_tag "period_ids[]", p.id, !p.state.zero?, autocomplete:"off", class:"btn-check", type:"checkbox", id:p.id%>
            <%= label_tag p.id, "A", class: "btn btn-outline-warning"%>
          </div>

          </td>
        <% end %>
        
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= hidden_field_tag 'week', @requested_week.id %>
<%= submit_tag "Enregistrer", class: "btn btn-primary"%>
<br/>
<br/>

