<h4> Classe <%=@requested_class.name%> Semaine <%= @requested_week.date_formated%></h4>
<br/>


<div class="card">
  <div class="card-header">
    <h4>Faire l'appel</h4>
  </div>
  <div class="card-body">
  	<% days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'] %>
	<%= render 'home/selection_day' %>
	<br/>
	<br/>
	<span class="badge bg-warning text-dark">R: En retard</span>
	<span class="badge bg-danger text-dark">A: Absent</span>
	<br/>

	<%= form_tag discontinue_periods_path, remote:true,  method: :put do %>
		<%= render 'home/schedule1' %>
	<% end %>
  </div>
</div>



<br/>

<%= render 'home/selection_week' %>
