<%= form_with(model: test) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.text_field :name, class:'form-control', placeholder:"Nom de l'épreuve" %>
  </div>
  <br />

  <div class="field form-group">
    <%= form.collection_select :subject_id, Subject.all, :id, :name, {include_blank: false}, {class: 'form-control '} %>
  </div>
  <br/>
  <div class="field form-group">
    <%= form.collection_select :group, Group.all, :id, :name, {include_blank: false}, {class: 'form-control '} %>
  </div>

  <br />
  <div class="actions">
    <%= form.submit "Mettre à jour", class:'btn btn-primary' %>
  </div>
<% end %>
