<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @test.subject_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @test.group_id %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
